/* Bebas Neue Fonts */
@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Schibsted Grotesk Fonts */

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Italic.woff2') format('woff2'),
        url('SchibstedGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Regular.woff2') format('woff2'),
        url('SchibstedGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Black.woff2') format('woff2'),
        url('SchibstedGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-ExtraBold.woff2') format('woff2'),
        url('SchibstedGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-ExtraBoldItalic.woff2') format('woff2'),
        url('SchibstedGrotesk-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Bold.woff2') format('woff2'),
        url('SchibstedGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-BlackItalic.woff2') format('woff2'),
        url('SchibstedGrotesk-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-BoldItalic.woff2') format('woff2'),
        url('SchibstedGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Medium.woff2') format('woff2'),
        url('SchibstedGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-SemiBold.woff2') format('woff2'),
        url('SchibstedGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-MediumItalic.woff2') format('woff2'),
        url('SchibstedGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('SchibstedGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Italic.woff2') format('woff2'),
        url('SchibstedGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Regular.woff2') format('woff2'),
        url('SchibstedGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

