* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --okar-color: #D39121;
    --medium-grey: #8D8987;
    --black: #282725;
    --dark-grey: #383632;
    --red: #D51F0F;
    --white: #FFFFFF;
    --green: #46B57E;
    --very-light-grey: #F9F6F3;
    --yellow: #ECBA23;
    --bebas-neue: 'Bebas Neue', cursive;
    --schibsted-grotesk: 'Schibsted Grotesk', sans-serif;
}



a {
    text-decoration: none;
}

.mg-right-5 {
    margin-right: 5px;
}

/* Header Section  */
header {

    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('../Images/restaurant-home-banner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    align-items: center;
    z-index: 1000;

}

header .header-section {
    width: 100%;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header section .logo img {
    width: 159px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--white);
    font-family: var(--bebas-neue);
    font-size: 20px;
}

.navigation a {
    color: var(--white);
}

.booking-table {
    border: 1px solid var(--medium-grey);
    padding: 15px 25px;
    border-radius: 50px;
    background-color: transparent;
}

.booking-table a {
    color: var(--white);
}


/* Banner Section  */
.banner-container {
    position: relative;
}

.banner-content {
    height: 700px;
    width: 700px;
    border-radius: 500px;
    background-image: url('../Images/restaurant-home-banner-pattern.webp');
    background-color: var(--okar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text-section {
    padding: 15px;
}

.banner-text-section .banner-text {
    margin-bottom: 30px;
}

.banner-text-section .sub-heading p {
    font-family: var(--bebas-neue);
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.banner-text-section .Great-dining h1 {
    font-family: var(--bebas-neue);
    font-size: 60px;
    color: transparent;
    text-align: center;
    font-size: 110px;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    margin-bottom: 0px;
}

.banner-text-section .animated-heading h1 {
    font-size: 110px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    text-align: center;
    color: var(--white);
}

.banner-text-section .authentic-btn {
    display: flex;
    justify-content: center;
}

.banner-text-section .authentic-btn button {
    padding: 19px 32px 16px;
    background-color: var(--black);
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

.banner-text-section .authentic-btn button a {
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner-text-section .authentic-btn button .bi-arrow-right-short {
    font-size: 24px;
}

.banner-container .banner-chef-icon {
    position: absolute;
    bottom: 40px;
    right: -60px;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-8px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* About section */
.about-section {
    position: relative;
}

.about-section .about-container {
    width: 100%;
    height: 100vh;
    z-index: -1000;
    position: relative;
    display: flex;
    justify-content: center;
}

.about-section .bg-experience-text {
    position: absolute;
    top: -130px;
}

.about-section .bg-experience-text h1 {
    font-size: 350px;
    color: var(--medium-grey);
    opacity: 0.2;
    font-family: var(--bebas-neue);
    text-transform: uppercase;
}

.about-section .about-details {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: translateY(-300px); */
}

.about-section .right-section {
    width: 40%;
}

.about-details .right-section .abt-text .since {
    color: var(--red);
    font-weight: 600;
    font-family: var(--schibsted-grotesk);
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-details .right-section .abt-text .since .line {
    width: 70px;
    height: 2px;
    background: var(--red);
    border-radius: 50px;
    margin-right: 15px;
}

.about-details .right-section .abt-text .abt-title h1 {
    font-size: 70px;
    color: var(--black);
    font-family: var(--bebas-neue);
    margin-bottom: 20px;
    color: var(--dark-grey);
    line-height: 60px;
    margin-bottom: 25px;
}

.about-details .right-section .abt-text .abt-title p {
    font-size: 18px;
    color: var(--medium-grey);
    font-family: var(--schibsted-grotesk);
    line-height: 30px;
    margin-bottom: 25px;
    width: 80%;
}

.about-details .right-section .about-buttons {
    display: flex;
    align-items: center;
}

.about-details .right-section .about-buttons .about-btn button {
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    border: none;
    background-color: var(--dark-grey);
    padding: 17px 28px 14px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.about-details .right-section .about-buttons .about-btn button h1 {
    position: relative;
    letter-spacing: 0.9px;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    color: var(--white);
    margin: 0;
}

.about-details .right-section .about-buttons .about-btn button h1::before {
    content: "About restaurant";
    position: absolute;
    color: var(--white);
    background: transparent;
    transform: translateY(160%);
}

.about-details .right-section .about-buttons .about-btn button:hover h1 {
    transform: translateY(-160%);
    background: transparent;
}

.about-details .right-section .about-buttons .contact-btn button {
    background-color: transparent;
    border: none;
}

.about-details .right-section .about-buttons .contact-btn button span:nth-child(1) {
    fill: var(--okar-color);
    margin-right: 8px;
}

.about-details .right-section .about-buttons .contact-btn button span:nth-child(2) {
    font-size: 24px;
    font-family: var(--bebas-neue);
}

.about-section .garlic {
    position: absolute;
    top: 41%;
    left: -50px;
}

.about-section .pasta {
    position: absolute;
    top: 20%;
    right: -50px;
}