* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --okar-color: #D39121;
    --medium-grey: #8D8987;
    --black: #282725;
    --dark-grey: #383632;
    --red: #D51F0F;
    --white: #FFFFFF;
    --green: #46B57E;
    --very-light-grey: #F9F6F3;
    --yellow: #ECBA23;
    --bebas-neue: 'Bebas Neue', cursive;
    --schibsted-grotesk: 'Schibsted Grotesk', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mg-right-5 {
    margin-right: 5px;
}

/* Header Section  */
header {

    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('../Images/restaurant-home-banner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    align-items: center;
    z-index: 1000;

}

header .header-section {
    width: 100%;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header section .logo img {
    width: 159px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    letter-spacing: 1px;
    color: var(--white);
    font-family: var(--bebas-neue);
    font-size: 20px;
}

.navigation a {
    color: var(--white);
}

.booking-table {
    border: 1px solid var(--medium-grey);
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    font-family: var(--bebas-neue);
    align-content: center;
}

.booking-table a {
    color: var(--white);
}


/* Banner Section  */
.banner-container {
    position: relative;
}

.banner-content {
    height: 700px;
    width: 700px;
    border-radius: 500px;
    background-image: url('../Images/restaurant-home-banner-pattern.webp');
    background-color: var(--okar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text-section {
    padding: 15px;
}

.banner-text-section .banner-text {
    margin-bottom: 30px;
}

.banner-text-section .sub-heading p {
    font-family: var(--bebas-neue);
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.banner-text-section .Great-dining h1 {
    font-family: var(--bebas-neue);
    font-size: 60px;
    color: transparent;
    text-align: center;
    font-size: 110px;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    margin-bottom: 0px;
}

.banner-text-section .animated-heading h1 {
    font-size: 110px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    text-align: center;
    color: var(--white);
}

.banner-text-section .authentic-btn {
    display: flex;
    justify-content: center;
}

.banner-text-section .authentic-btn button {
    padding: 19px 32px 16px;
    background-color: var(--black);
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

.banner-text-section .authentic-btn button a {
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner-text-section .authentic-btn button .bi-arrow-right-short {
    font-size: 24px;
}

.banner-container .banner-chef-icon {
    position: absolute;
    bottom: 40px;
    right: -60px;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-8px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* About section */
.about-section {
    position: relative;
    overflow: hidden;
}


.about-section .about-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 110px 0px 110px 0px;
    flex-wrap: wrap;
}

.about-section .bg-experience-text {
    position: absolute;
    top: -130px;
}

.about-section .bg-experience-text h1 {
    font-size: 350px;
    color: var(--medium-grey);
    opacity: 0.2;
    font-family: var(--bebas-neue);
    text-transform: uppercase;
}

.about-section .about-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.about-section .right-section {
    width: 32%;
    /* border: 2px solid red; */
}

.about-details .right-section .abt-text .since {
    color: var(--red);
    font-weight: 600;
    font-family: var(--schibsted-grotesk);
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-details .right-section .abt-text .since .line {
    width: 70px;
    height: 2px;
    background: var(--red);
    border-radius: 50px;
    margin-right: 15px;
}

.about-details .right-section .abt-text .abt-title h1 {
    font-size: 70px;
    color: var(--black);
    font-family: var(--bebas-neue);
    margin-bottom: 20px;
    color: var(--dark-grey);
    line-height: 60px;
    margin-bottom: 25px;
}

.about-details .right-section .abt-text .abt-title p {
    font-size: 18px;
    color: var(--medium-grey);
    font-family: var(--schibsted-grotesk);
    line-height: 30px;
    margin-bottom: 25px;
    width: 80%;
}

.about-details .right-section .about-buttons {
    display: flex;
    align-items: center;
}

.about-details .right-section .about-buttons .about-btn button {
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    border: none;
    background-color: var(--dark-grey);
    padding: 17px 28px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.about-details .right-section .about-buttons .about-btn button h1 {
    position: relative;
    letter-spacing: 0.9px;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
    color: var(--white);
    margin: 0;
}

.about-details .right-section .about-buttons .about-btn button h1::before {
    content: "About restaurant";
    position: absolute;
    color: var(--white);
    background: transparent;
    transform: translateY(170%);
}

.about-details .right-section .about-buttons .about-btn button:hover h1 {
    transform: translateY(-170%);
    background: transparent;
}

.about-details .right-section .about-buttons .contact-btn button {
    background-color: transparent;
    border: none;
}

.about-details .right-section .about-buttons .contact-btn button span:nth-child(1) {
    fill: var(--okar-color);
    margin-right: 8px;
}

.about-details .right-section .about-buttons .contact-btn button span:nth-child(2) {
    font-size: 24px;
    font-family: var(--bebas-neue);
}




.about-section .garlic {
    position: absolute;
    top: 41%;
    left: -50px;
}

.about-section .pasta {
    position: absolute;
    top: 20%;
    right: -50px;
}

/* Service Section  */
.about-section .about-service {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}


.fast-delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.about-section .about-service .icons {
    font-size: 34px;
    text-align: center;
    align-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #dfdfdf;
    margin-right: 25px;
}

.about-section .about-service .detail h4 {
    font-family: var(--bebas-neue);
    font-size: 30px;
    margin-bottom: 0px;
}

.about-section .about-service .detail p {
    font-family: var(--schibsted-grotesk);
    font-size: 17px;
    margin-bottom: 0px;
    color: var(--medium-grey);
}

/* Popular Menu */
.popular-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 110px 0px 110px 0px;
    background-image: url("../Images/onion-sweetcorn-bg.jpg");
}

.popular-menu .chooseDelicious .chooseDelicious-text h2 {
    color: var(--red);
    font-family: var(--schibsted-grotesk);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.popular-menu-text h1 {
    text-align: center;
    font-size: 55px;
    font-family: var(--bebas-neue);
    color: var(--dark-grey);
    margin-bottom: 30px;
}

.type-of-item {
    /* border: 2px solid red; */
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/* starter items */
.type-of-item .starter .item-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-of-item .starter .item-type .icons {
    margin: auto;
    color: var(--dark-grey);
    fill: var(--dark-grey);
    font-size: 34px;
    margin-bottom: 10px;
}

.type-of-item .starter .item-type .name-of-type h4 {
    font-size: 20px;
    font-family: var(--schibsted-grotesk);
    text-transform: capitalize;
    color: var(--dark-grey);
    cursor: pointer;
}

.starter,
.starter .icons {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.starter:hover .icons {
    transform: scale(1.1);
}

/* .name-of-type {
    border: 2px solid red;
} */

.type-of-item .starter .item-type .name-of-type .underline {
    background: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
}

/* Non Veg item  */
.type-of-item .non-vegetarian .item-type .non-veg-item {
    margin: auto;
    fill: var(--medium-grey);
    font-size: 34px;
    margin-top: 9px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.type-of-item .non-vegetarian .item-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-of-item .non-vegetarian .item-type .icons {
    margin: auto;
    font-size: 34px;
}

.non-vegetarian,
.non-vegetarian .icons {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.non-vegetarian:hover .item-type .non-veg-item {
    fill: var(--dark-grey);
    transform: scale(1.1);
}

.type-of-item .non-vegetarian .item-type .name-of-type h4 {
    font-size: 20px;
    font-family: var(--schibsted-grotesk);
    text-transform: capitalize;
    color: var(--medium-grey);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.type-of-item .non-vegetarian .item-type:hover .name-of-type h4 {

    color: var(--dark-grey);
}

.type-of-item .non-vegetarian .item-type .name-of-type .underline {
    background: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.type-of-item .non-vegetarian:hover .item-type:hover .name-of-type .underline {
    opacity: 1;
}

/* vegetarian */
.type-of-item .vegetarian .item-type .veg-item {
    margin: auto;
    fill: var(--medium-grey);
    font-size: 34px;
    margin-top: 9px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.type-of-item .vegetarian .item-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-of-item .vegetarian .item-type .icons {
    margin: auto;
    font-size: 34px;
}

.vegetarian,
.vegetarian .icons {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.vegetarian:hover .item-type .veg-item {
    fill: var(--dark-grey);
    transform: scale(1.1);
}

.type-of-item .vegetarian .item-type .name-of-type h4 {
    font-size: 20px;
    font-family: var(--schibsted-grotesk);
    text-transform: capitalize;
    color: var(--medium-grey);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.type-of-item .vegetarian .item-type:hover .name-of-type h4 {

    color: var(--dark-grey);
}

.type-of-item .vegetarian .item-type .name-of-type .underline {
    background: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.type-of-item .vegetarian:hover .item-type:hover .name-of-type .underline {
    opacity: 1;
}

/* Desserts */
.type-of-item .dessert .item-type .dessert-item {
    margin: auto;
    fill: var(--medium-grey);
    font-size: 34px;
    margin-top: 9px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.type-of-item .dessert .item-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-of-item .dessert .item-type .icons {
    margin: auto;
    font-size: 34px;
}

.dessert,
.dessert .icons {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.dessert:hover .item-type .dessert-item {
    fill: var(--dark-grey);
    transform: scale(1.1);
}

.type-of-item .dessert .item-type .name-of-type h4 {
    font-size: 20px;
    font-family: var(--schibsted-grotesk);
    text-transform: capitalize;
    color: var(--medium-grey);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.type-of-item .dessert .item-type:hover .name-of-type h4 {

    color: var(--dark-grey);
}

.type-of-item .dessert .item-type .name-of-type .underline {
    background: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.type-of-item .dessert:hover .item-type:hover .name-of-type .underline {
    opacity: 1;
}

/* Drinks */
.type-of-item .drinks .item-type .drink-item {
    margin: auto;
    fill: var(--medium-grey);
    font-size: 34px;
    margin-top: 9px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.type-of-item .drinks .item-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-of-item .drinks .item-type .icons {
    margin: auto;
    font-size: 34px;
}

.drinks,
.drinks .icons {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.drinks:hover .item-type .drink-item {
    fill: var(--dark-grey);
    transform: scale(1.1);
}

.type-of-item .drinks .item-type .name-of-type h4 {
    font-size: 20px;
    font-family: var(--schibsted-grotesk);
    text-transform: capitalize;
    color: var(--medium-grey);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.type-of-item .drinks .item-type:hover .name-of-type h4 {

    color: var(--dark-grey);
}

.type-of-item .drinks .item-type .name-of-type .underline {
    background: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.type-of-item .drinks:hover .item-type:hover .name-of-type .underline {
    opacity: 1;
}

/* items-menu */
.items-menu {
    width: 80%;
    margin: auto;
    margin-bottom: 72px;
}

.items-menu .starter-menu,
.items-menu .non-vegetarian,
.items-menu .vegetarian,
.items-menu .dessert,
.items-menu .drinks {
    display: flex;
    width: 100%;
    justify-content: center;
}

.items-menu .left-menu,
.items-menu .right-menu {
    width: 45%;
    padding: 0px 15px 0px 15px;
}

.items-menu .item-name {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.items-menu .item-name .item-img img {
    margin-right: 30px;
    border-radius: 50px;
}

.items-menu .item-name .item-detail {
    width: 100%;
}

.items-menu .item-name .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-family: var(--schibsted-grotesk);

}

.items-menu .item-name .name-price h3 {
    font-size: 18px;
}

.items-menu .item-name .name-price .dashs h4 {
    font-size: 12px;
    color: var(--medium-grey);
}

.items-menu .item-name .item-description p {
    font-size: 17px;
    margin: 0;
    color: var(--medium-grey);
    font-family: var(--schibsted-grotesk);
}

/* javascript and css */
/* .starter-menu > :active {
    display: block;
}

.starter-menu > .tab-pane {
    display: none;
}

.fade {
    transition: opacity .15s linear;
} */

/* Mini Description on poular Menu  */
.little-desrciption {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.little-desrciption .masterchef {
    background-color: var(--red);
    align-self: center;
    color: var(--white);
    padding: 8px 25px;
    border-radius: 50px;
}

.little-desrciption .masterchef h5 {
    margin: 0;
    font-size: 18px;
}

.little-desrciption div {
    align-self: center;
}

.little-desrciption p {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    font-family: var(--schibsted-grotesk);
}

.little-desrciption p span {
    text-decoration: underline;
    font-weight: 600;
}

/* Popular Dishes */
.popular-dishes {
    padding: 110px 0px 110px 0px;
}

.popular-dishes .specials-choice .specials-choice-text h2 {
    color: var(--red);
    font-family: var(--schibsted-grotesk);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.popular-menu-text h1 {
    text-align: center;
    font-size: 55px;
    font-family: var(--bebas-neue);
    color: var(--dark-grey);
    margin-bottom: 30px;
}

/* Slider */
.popular-dish-slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* border: 2px solid red; */
    font-family: var(--schibsted-grotesk);
}

.slider-track {
    width: calc(390px * 10);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    animation: scroll 20s linear infinite;
}

/* Slider Animation */
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.slider-track .slider {
    width: 10%;
    perspective: 100px;
    transition-delay: 2s;
    position: relative;
}

.slider-track .slider .price-viewer {
    position: absolute;
    height: 130px;
    width: 130px;
    transform: translate(140px, -100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    background: #FFFFFF;
    opacity: 0;
    overflow: hidden;
    border-radius: 500px;
    transition: all 0.5s;
}

.slider-track .slider .price-viewer h1,
.slider-track .slider .price-viewer h2 {

    font-size: 30px;
    font-family: var(--bebas-neue);
    color: var(--red);
    margin: 0px;
}

.slider-track .slider:hover .price-viewer {
    opacity: 1;
    transform: translate(140px, -240px);
}

.slider-track .slider .img {
    width: 390px;
    height: 277px;
    margin: auto;
    padding: 0px 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: all 1s;
    overflow: hidden;
}

.slider-track .slider .img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.5s;
}

.slider-track .slider:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.slider-track .slider .content {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    padding: 0px 15px 0px 15px;
    color: var(--medium-grey);
}

.item-name h2 {
    font-size: 20px;
    text-align: center;
    color: var(--dark-grey);
    font-weight: 600;
}

.slider-track .slider .content .vegetables-inclulded {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: center;
}

.slider-track .slider .content .vegetables-inclulded p {
    margin: 0px;
}

.slider-track .slider .content .vegetables-inclulded .bi-circle-fill {
    font-size: 8px;
    color: rgb(188, 187, 187);
}

/* Shadow  */
.popular-dish-slider::before,
.popular-dish-slider::after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
}

.popular-dish-slider::before {
    top: 0;
    left: 0;
}

.popular-dish-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}