*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
}

:root
{
    --okar-color:#D39121;
    --medium-grey:#8D8987;
    --black:#282725;
    --dark-grey:#383632;
    --red:#D51F0F;
    --white:#FFFFFF;
    --green:#46B57E;
    --very-light-grey:#F9F6F3;
    --yellow:#ECBA23;
    --bebas-neue:'Bebas Neue', cursive;
    --schibsted-grotesk:'Schibsted Grotesk', sans-serif;
}


header
{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url('../Images/restaurant-home-banner-bg.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
a
{
    text-decoration: none;
}
.mg-right-5
{
    margin-right: 5px;
}
/* Header Section  */
header .header-section
{
    width: 100%;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header section .logo img
{
    width:159px;
}
.navigation 
{
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--white);
    font-family: var(--bebas-neue);
    font-size: 20px;
}
.navigation a
{
    color: var(--white);
}
.booking-table
{
    border: 1px solid var(--medium-grey);
    padding: 15px 25px;
    border-radius: 50px;
    background-color: transparent;
}
.booking-table a
{
    color: var(--white);
}

/* Banner Section  */
.banner-bg
{
    height: 700px;
    width: 700px;
    border-radius: 500px;
    background-image: url('../Images/restaurant-home-banner-pattern.webp');
    background-color: var(--okar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section
{
    padding: 15px;
}
.banner-section .sub-heading p
{
    font-family: var(--bebas-neue);
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.banner-section .Great-dining h1
{
    font-family: var(--bebas-neue);
    font-size: 60px;
    color: transparent;
    text-align: center;
    font-size: 110px;
    font-weight: 100;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: var(--white); 
    margin-bottom: 0px;
}

.banner-section .animated-heading h1
{
    font-size: 110px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    text-align: center;
    color: var(--white);
    margin-bottom: 24px;
}
.banner-section .authentic-btn
{
    display: flex;
    justify-content: center;
    
}
.banner-section .authentic-btn button 
{
    padding: 20px 30px;
    background-color: var(--black);
    border-radius: 8px;
    border: none;
    transition: 0.5s;
}
.banner-section .authentic-btn button a
{
    text-transform: uppercase;
    font-family: var(--bebas-neue);
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
        display: flex;
        align-items: center;
}
.banner-section .authentic-btn button .bi-arrow-right-short
{
    font-size: 24px;
    margin-left: 10px;
}

